body{
    display: flex;
    margin:0px;
    flex-wrap: wrap;
}

#main-content-div{
    width: 100%;
    min-height:calc(100vh - 170px);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

article{
    width: 70%;
    background-color: var(--aside-background);
    padding: 10px;
    margin: 0 auto;
    position: relative;
    margin: 20px;
    border-radius: 10px;
}

.article-heading{
    font-size: 40px;
    margin:0px;
}

.heading-break{
    border-bottom: 6px black solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-picture{
    width: 100%;
}

#publishing-details{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.publisher-p{
    margin:0px;
    margin-right: 20px;
}
.publishing-date-p{
    margin:0px;
}

#reading-time-div{
    margin-top: 20px;
}

.reading-time-p{
    display: inline;
}


.section-only-image{
    width: 60%;
    height: auto!important;
    margin-right: 20%!important;
}


.section-text > img {
  height: 100px;
  float: right;
  margin: 5px; 
}

.section-text {
  margin-bottom: 20px;
  min-height: 100px;
  overflow: hidden; 
}

.section-text > h2 {
  margin: 0;
}

.section-text > p {
  margin: 0;
  margin-top: 10px;
  text-align: justify;
}


@media screen and (max-width: 600px) {
    article{
        width: 85%;
    }
    .section-text>img {
        height: 70px;
    }
}