* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
}

#blog-div{
    width: 60%;
}

aside{
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--wrapper-background-color);
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.user-details {
    text-align: center;
}

.user-details h4,
.user-details h5 {
    margin-bottom: 5px;
}

.info h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info_data {
    display: flex;
    justify-content: space-between;
}

.info_data .data {
    width: 45%;
}

.info_data .data h4 {
    color: var(--text-color);
    margin-bottom: 5px;
}

.info_data .data p {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--subtext-color);
}

.edit-button {
    background-color: var(--submit-button-background);
    color: var(--button-color);
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
  
.edit-button.active {
    background-color: var(--edit-buton-active);
}
  
.user-details,
.info {
    margin-bottom: 20px;
}
  
.focused{
    background-color: var(--focused);
    border-radius: 5px;
}

.no-posts-p {
    width: 250px;
    margin: auto;
    margin-top: 175px;
}
.delete-button {
    background-color: var(--delete-button);
    top: 5px;
    right: 5px;
    position: absolute;
    color: var(--button-color); 
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--delete-button); 
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.delete-button:hover {
    background-color: var(--delete-button-hover);
}

.delete-button:active {
    background-color: var(--delete-button-active);
    border-color: var(--delete-button-active);
    transform: scale(0.95); 
}

#delete-cancel-button, .delete-cancel-button-article {
    background-color: var(--delete-cancel-button); 
    color: var(--button-color); 
    border: 2px solid var(--delete-cancel-button);
    cursor: pointer;
}

#delete-confirm-button, .delete-confirm-button-article {
    background-color: var(--delete-confirm-button);
    color: var(--button-color);
    border: 2px solid var(--delete-confirm-button);
    cursor: pointer;
}

.delete-toggle-div{
    text-align: center;
    color: var(--text-color);
    border: 2px solid var(--delete-toggle-div-border);
    border-radius: 5px;
    padding: 5px;
    cursor: auto;
}
.change-article-button {
    background-color: var(--submit-button-background);
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.delete-article-button {
    background-color: var(--remove-section-background);
    color: var(--button-color);
    border: none;
    position: absolute;
    right: 35px;
    top: 3px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-toggle-div-article {
    position: absolute;
    text-align: center;
    color: var(--text-color);
    border: 2px solid var(--delete-toggle-div-border);
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px;
    height: 100px;
    width: 150px;
    left: calc(50% - 75px);
    cursor: auto;
    z-index: 2;
}

.delete-toggle-div-article > button{
    margin-right: 10px;
    margin-left: 10px;
}

.delete-toggle-div-article > p{
    margin-bottom: 10px;
}

.article-sub-text-p {
    width: 100%;
    max-height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.article-sub-text-p:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 30px, var(--article-background));
}

#description{
    word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
    #main-content-div {
        flex-direction: column;         
    }

    #blog-div {
        order: 2;
        margin-bottom: 20px;
        width: 100%;
    }

    aside {
        order: 1;
        margin-top: 20px;
        width: 100%
    }
    article {
        width: 90%;
    }

    #new-article-button {
        display: none;
    }
    .no-posts-p{
        width: 400px;
        margin:auto;
        margin-top:20px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 80%;
        margin-left: 10%;
    }
    .no-posts-p {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .new-article-button {
        margin-top: 20px;
      }   
      article {
          max-height: 100px;
      }
}