html {
    --primary-color: #01a9ac;
    --secondary-color: #01dbdf;
    --text-color: #353c4e;
    --subtext-color: #919aa3;
    --background-color: #f3f3f3;
    --border-color: #e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
}

.wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.wrapper img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.user-details {
    text-align: center;
}

.user-details h4,
.user-details h5 {
    margin-bottom: 5px;
}

.info h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info_data {
    display: flex;
    justify-content: space-between;
}

.info_data .data {
    width: 45%;
}

.info_data .data h4 {
    color: var(--text-color);
    margin-bottom: 5px;
}

.info_data .data p {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--subtext-color);
}

.edit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .edit-button.active {
    background-color: #0000ff;
  }
  
  .user-details,
  .info {
    margin-bottom: 20px;
  }
  
  .focused{
    background-color: rgba(0, 255, 0, 0.4);
    border-radius: 5px;
  }

  #delete-toggle-div{
    width: 100px;
    height: 80px;
    background-color: red;
  }

.delete-button {
    background-color: #ff5c5c;
    top: 5px;
    right: 5px;
    position: absolute;
    color: #ffffff; 
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #ff5c5c; 
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.delete-button:hover {
    background-color: #ff7878;
}

.delete-button:active {
    background-color: #ff4141;
    border-color: #ff4141;
    transform: scale(0.95); 
}