body{
    margin:0px;
}

#main-content-div{
    width: 100%;
    min-height: calc(100vh - 220px);
    background-color: yellow;
}

#search-results-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom:20px
}
#search-results-wrapper > h2{
    text-align:left;
    width:60%
}
#user-result-div{
    background-color: grey;
    width: 60%;
    display: flex;
    margin-bottom: 15px;
    border-radius: 10px;
}

.hidden{
    visibility: hidden;
}