*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin:0px;
    flex-wrap: wrap;
}

.hiddern{
    visibility: hidden;
}

#login-error-div{
    width: 400px;
    height: 70px;
    border: 2px solid var(--login-error-border);
    position: absolute;
    left:calc(50% - 200px);
    border-radius: 10px;
    top: 160px;
    padding-left: 10px;
    padding-top:10px;

}

#login-error-div > h2{
    color: var(--login-error-h2);
    font-size: 20px;
    margin:0px;
}

#login-error-div > p{
    margin:0px;
    margin-top: 5px;
}

#main-content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 170px);
    width: 100vw;
}

.login-form {
    width: 400px;
    padding: 40px;
    background: var(--form-background);
    border-radius: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border);
    border-radius: 3px;
}

.login-form input[type="text"]{
    margin-bottom: 20px;
}

.login-form input[type="password"] {
    margin-bottom: 0px;
}

#password-container {
    width: 100%;
    position: relative;
    height: 55px;
}

.fa-eye {
    position: absolute;
    top: 50%;
    right: 4%;
    cursor: pointer;
    color: var(--fa-eye-color);
}

#remember-me-container{
    margin-bottom:20px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: var(--submit-button-background);
    color: var(--button-color);
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: var(--submit-button-hover);
}

.password-input-animation{
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 1.0s;
    animation-iteration-count: 1, 1;
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(4px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-4px);
    }
}
  
@keyframes glow-red {
    50% {
      border-color: var(--animation-key-frames);
    }
}

@media screen and (max-width: 600px) {
    label {
        font-size: var(--p-font-size-mobile);
    }
    input{
        font-size: var(--p-font-size-mobile);
    }
}

@media screen and (max-width: 500px) {
    .login-form {
        width: 80%;
    }
}