*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin:0px;
    flex-wrap: wrap;
}

#mainContentLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 1000vw;
}

.loginForm {
    width: 350px;
    padding: 40px;
    background: #f0f0f0;
    border-radius: 10px;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.loginForm input[type="submit"]:hover {
    background: #45a049;
}
