header {
    width: 100vw;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logoDiv {
    width: 100px;
    Height: 60px;
    background-color: white;
    margin-left: 10%
}

#navBar {
    margin-left: 10px;
    position: absolute;
    left:0px;
    display: flex;
    align-items: flex-start;

}

#navBar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navBar>ul>li, #navBar>ul>button {
    float: left;
    background-color: white;
    margin: 8px;
}
#searchWrapperDiv{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchButton{
    border-radius: 0px;
    border:none;
    height: 40px;
    width: 40px;
    margin: 8px;
    text-align:center;
    display:flex;
    justify-content: center;
    margin-left:3px;
    margin-right: 10px; 
}

#searchIcon{
    margin:auto;
    font-size: 15px;
}

#searchInput{
    height: 40px;
    padding: 0px;
    margin: 0px;
    border:none;
    width:0px;
}
.searchInputAnimation{
    animation: searchBarAnimation 0.4s forwards;
}

@keyframes searchBarAnimation {
    from {width: 0px;}
    to {width: 150px;}
  }