header {
    width: 100vw;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logoDiv {
    width: 100px;
    Height: 60px;
    background-color: white;
    margin-left: 10%
}

#navBar {
    margin-left: 10px;
    position: absolute;
    left:0px;
    display: flex;
    align-items: flex-start;

}

  .navButton {
      width: 100px;
      padding: 10px;
      background: #4CAF50;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin:5px;
  }
  .navButton:hover {
      background: #45a049;
  }
  #profileButton{
    background-color: transparent;
    border:none;
  }
  #profileIcon{
    font-size: 40px;
    color: white;
  }
  .hidden{
    display: none;
  }
#profileToggleDiv{
    background-color:white;
    width: 75px;
    position: absolute;
    left:0px;
    top: 40px;
}
#profileToggleDiv > p{
    line-height: 270%;
    margin:0px;
    padding-left: 10px;
}
#profileToggleDiv>p:hover {
    background-color: rgb(206, 205, 205);
}
#searchWrapperDiv{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchButton{
    border-radius: 0px;
    border:none;
    height: 40px;
    width: 40px;
    margin: 8px;
    text-align:center;
    display:flex;
    justify-content: center;
    margin-left:3px;
    margin-right: 10px; 
}

#searchIcon{
    margin:auto;
    font-size: 15px;
}

#searchInput{
    height: 40px;
    padding: 0px;
    margin: 0px;
    border:none;
}
.searchInputNarrow {
    width: 0px;
}
.searchInputExtended{
    width: 150px;
}
.searchInputAnimation{
    animation: searchBarAnimation 0.4s forwards;
}

.searchInputAnimationRev{
    animation: searchBarAnimation 0.4s forwards;
    animation-direction: reverse;
}
@keyframes searchBarAnimation {
    from {width: 0px;}
    to {width: 150px;}
}