header {
    width: 100vw;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo-div {
    width: 100px;
    Height: 60px;
    background-color: white;
    margin-left: 10%
}

#nav-bar {
    margin-left: 10px;
    position: absolute;
    left:0px;
    display: flex;
    align-items: flex-start;

}

  .nav-button {
      width: 100px;
      padding: 10px;
      background: #4CAF50;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin:5px;
  }
  .nav-button:hover {
      background: #45a049;
  }
  #profile-button{
    background-color: transparent;
    border:none;
  }
  #profile-icon{
    font-size: 40px;
    color: white;
  }
  .hidden{
    display: none;
  }
#profile-toggle-div{
    background-color:white;
    width: 75px;
    position: absolute;
    left:0px;
    top: 40px;
}
#profile-toggle-div > p{
    line-height: 270%;
    margin:0px;
    padding-left: 10px;
}
#profile-toggle-div>p:hover {
    background-color: rgb(206, 205, 205);
}
#search-wrapper-div{
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-button{
    border-radius: 0px;
    border:none;
    height: 40px;
    width: 40px;
    margin: 8px;
    text-align:center;
    display:flex;
    justify-content: center;
    margin-left:3px;
    margin-right: 10px; 
}

#search-icon{
    margin:auto;
    font-size: 15px;
}

#search-input{
    height: 40px;
    padding: 0px;
    margin: 0px;
    border:none;
}
.search-input-narrow {
    width: 0px;
}
.search-input-extended{
    width: 150px;
}
.search-input-animation{
    animation: searchBarAnimation 0.4s forwards;
}

.search-input-animation-rev{
    animation: searchBarAnimation 0.4s forwards;
    animation-direction: reverse;
}
@keyframes search-bar-animation {
    from {width: 0px;}
    to {width: 150px;}
}